K16_UNEMPLOYED_RESIDENT_PMETs_AND_NON-PMETs__BY_AGE_v0.csv
sql files/Flattened - wide format/K6_UNEMPLOYED_RESIDENTS_BY_MARITAL_STATUS_AND_SEX_v0.sql
sql files/Reshaped/K15T_UNEMPLOYED_RESIDENTS_BY_PREVIOUS_OCCUPATION_AND_SEX_v0.sql